* {
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  width: 90%;
}
a {
  text-decoration: none;
}
button {
  border: none;
  cursor: pointer;
}
body {
  background: #2c2743f2;
}
#header {
  padding: 50px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.images {
  display: flex;
  gap: 20px;
}
.hydra {
  width: 150px;
  height: 50px;
  margin-top: 24px;
}
.title {
  display: flex;
  align-items: center;
  gap: 50px;
}
.title a {
  font-size: 15px;
  font-weight: 500;
  line-height: 14.63px;
  color: white;
}
.btns {
  display: flex;
  align-items: center;
  gap: 25px;
}
.btn1 {
  width: 160px;
  border: 2px solid white;
  background: none;
  color: white;
  font-size: 18px;
  display: flex;
  text-align: center;
  align-items: center;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 40px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 700;
  line-height: 14.63px;
}
.btn2 {
  width: 160px;
  color: white;
  font-size: 18px;
  height: 40px;
  border-radius: 20px;
  background: #8176af;
  color: black;
  font-size: 15px;
  font-weight: 700;
  line-height: 14.63px;
}
#hero {
  padding: 80px;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-title h1 {
  font-size: 46px;
  font-weight: 700;
  line-height: 56.07px;
  color: white;
}
.another-col {
  font-size: 46px;
  font-weight: 700;
  line-height: 56.07px;
  color: #c0b7e8;
}

.hero-title p {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 29.5px;
  margin: 60px 0 60px 0;
}
.hero-title button {
  width: 200px;
  color: white;
  font-size: 18px;
  height: 40px;
  border-radius: 20px;
  background: #8176af;
  color: black;
  font-size: 15px;
  font-weight: 500;
  line-height: 14.63px;
}
.btn-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}
.icon {
  font-size: 40px;
  color: #c0b7e8;
}

#contact {
  padding: 100px 30px;
}
.block {
  display: flex;
  align-items: center;
  gap: 180px;
  padding: 5px 40px 5px 80px;
  width: 1300px;
  height: 200px;
  border-radius: 80px;
  background: rgb(45, 39, 62);
  background: linear-gradient(
    82deg,
    rgba(45, 39, 62, 1) 14%,
    rgba(76, 60, 91, 1) 51%,
    rgba(52, 48, 77, 1) 95%
  );
}
.block span {
  color: #c0b7e8;
  font-size: 50px;
}
.card1 {
  display: flex;
  align-items: center;
  gap: 15px;
}
.card-title h2 {
  color: white;
  font-size: 15px;
  font-weight: 400;
}
.lines {
  width: 1px;
  height: 160px;
  background: white;
  margin-left: 10px;
}

.card-title p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20.07px;
  color: rgb(163, 154, 154);
  font-size: 10px;
}
#second-hero {
  padding: 20px 20px;
}
.introduction {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.intro-text {
  display: flex;
  align-items: center;
  gap: 20px;
}
.intro-text h1 {
  font-size: 40px;
  color: white;
  font-weight: 600;
}
.intro-text p {
  font-size: 40px;
  font-weight: 300;
}
.intro-text img {
  margin-top: 70px;
}
.introduction p {
  color: rgba(255, 255, 255, 0.616);
  line-height: 23px;
}
.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px 0;
  gap: 100px;
}
.about-title h1 {
  font-size: 40px;
  color: white;
  font-weight: 600;
}
.about-title span {
  font-size: 40px;
  font-weight: 300;
}
.about-title p {
  color: rgba(255, 255, 255, 0.566);
  line-height: 23px;
  margin: 40px 0 40px 0;
}
.about-title button {
  width: 200px;
  color: white;
  font-size: 18px;
  height: 50px;
  border-radius: 20px;
  background: #8176af;
  color: black;
  font-size: 15px;
  font-weight: 500;
  line-height: 14.63px;
}
.cards-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cards-title p {
  color: rgba(255, 255, 255, 0.673);
  line-height: 30px;
}
.block1 {
  width: 300px;
  height: 500px;
  background: #211e2e;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 0 10px 0;
}
.bg {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background: #171521;
}
.bg img {
  margin-left: 15px;
  margin-top: 12px;
  display: flex;
}
.block1 h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.26px;
  color: white;
  margin: 10px;
}
.line {
  width: 150px;
  height: 2px;
  background: rgba(255, 255, 255, 0.738);
  margin: 20px;
}
.text {
  color: rgba(255, 255, 255, 0.437);
 font-size: 15px;

}
.try-btn {
  width: 200px;
  color: white;
  font-size: 18px;
  height: 40px;
  border-radius: 20px;
  background: #8176af;
  color: black;
  font-size: 15px;
  font-weight: 500;
  line-height: 14.63px;
  margin: 20px;
}
.all-cards {
  display: flex;
  align-items: center;
  padding: 100px;
  gap: 10px;
  margin-left: -60px;
}
.im {
  position: relative;
}
.and {
  position: absolute;
  top: 1800;
  bottom: -2350px;
  left: 400px;
  color: white;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 6px;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.used {
  font-weight: 300;
}
.logo {
  display: flex;
  gap: 120px;
}
.arrow {
  color: #c0b7e8;
  font-size: 80px;
  position: absolute;
  left: 650px;
  /* bottom: -20px;*/
  top: 3250px;
}
.cirlce {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: rgba(23, 21, 33, 0.681) 21;
}
#number {
  padding: 50px;
}
.number-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.number-title h1 {
  color: white;
  font-size: 40px;
  font-weight: 500;
}
.er {
  font-weight: 200;
}
.pop {
  display: flex;
}
.arrowq {
  margin-top: 60px;
  margin-right: 140px;
}
.number-title p {
  color: rgba(255, 255, 255, 0.603);
  line-height: 25px;
  font-size: 15px;
}
.num {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px;
}
.back {
  width: 160px;
  height: 160px;
  color: #17152197;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.29);
  position: relative;
}
.first {
  position: absolute;
  left: 30px;
  top: 10px;
  font-size: 70px;
  font-weight: 700;
}
.in {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #8176af;
  position: absolute;
  left: 15px;
  top: 15px;
}
.lol {
  display: flex;
  margin: 50px 0;
  color: white;
  margin-right: 100px;
  gap: 10px;
}
.right {
  color: #c0b7e8;
  font-size: 30px;
  margin-bottom: 20px;
  /* margin-left: 200px; */
}
.texts {
  font-size: 20px;
  color: white;
  font-weight: 500;
}
#inputs {
  padding: 20px;
}
.inputs {
  width: 1000px;
  height: 800px;
  background: radial-gradient(50% 50% at 50% 50%, #403a5f 0%, #211e2e 100%);
  border-radius: 80px;
  margin: 10px 150px;
}
.inputs-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}
.inputs-title h1 {
  font-size: 30px;
  color: white;
  font-weight: 500;
}
.inputs-line {
  width: 200px;
  height: 1px;
  background: rgba(255, 255, 255, 0.664);
  margin: 10px 0;
}
.inputs-title p {
  color: white;
  font-size: 30px;
  font-weight: 100;
}
.search {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.search input {
  width: 400px;
  height: 65px;
  border: 2px solid white;
  background: none;
  color: white;
  border-radius: 40px;
  padding: 0 20px;
}
.input1 {
  display: flex;
  align-items: center;
  gap: 20px;
}
.sub input {
  width: 820px;
}
textarea {
  width: 820px;
  height: 200px;
  border-radius: 40px;
  background: none;
  border: 2px solid white;
  padding: 20px 30px;
}
.inputs button {
  width: 200px;
  color: white;
  font-size: 18px;
  height: 40px;
  border-radius: 20px;
  background: #8176af;
  color: black;
  font-size: 15px;
  font-weight: 500;
  line-height: 14.63px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 400px;
  margin-top: 20px;
}
#footer {
  padding: 170px 0;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  gap: 10px;
  font-weight: 600;
}
.footer-line {
  width: 4px;
  height: 200px;
  background-color: #978ec5;
}
.footer3 h3 {
  color: white;
  font-size: 15px;
  font-weight: 600;
}
.footer-icons {
  display: flex;
  font-size: 30px;
  color: #978ec5;
  gap: 20px;
}
.footer3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.footer-btn {
  width: 200px;
  color: white;
  font-size: 18px;
  height: 40px;
  border-radius: 20px;
  background: #8176af;
  color: black;
  font-size: 15px;
  font-weight: 500;
  line-height: 14.63px;
  margin: 20px;
}
.foot {
  width: 1380px;
  height: 1px;
  background: #8176af;
  margin: 130px 0 50px 0 ;
}
.ftft{
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}